.content{
    display: flex;  /*垂直置中*/
    align-items: center;/*垂直置中*/
    color: brown;
    /* width: 1000px; */
    justify-content: center;
    border: 1px solid silver;
    text-align: center;/*水平置中*/
    /* align-content: center; */
    /* flex-wrap: wrap; */
}
.content p{
    flex: 1;
    font-size: 3ch;
    font-weight: bold;
    /* border: 1px solid rgb(26, 16, 93); */
}

.fig{
    display: flex;
    justify-content: space-around;
}


.ingrediant {
    font-size: 1.5ch;
}

